:root {
    --bg: #ffffff;
    --bg-secondary: #0f172a;
    --bg-tertiary: #f5f5f5;

    --text: #0f172a;
    --text-secondary: #ffffff;

    --border: #0f172a;

    --pagination: #0f172a;

    --shadow-1: rgba(0, 0, 0, 0.03);
    --shadow-2: rgba(0, 0, 0, 0.05);
    --shadow-3: rgba(0, 0, 0, 0.08);

    --header-bg-1: rgba(255, 255, 255, 0.9);
    --header-bg-2: rgba(255, 255, 255, 0.6);
    --header-bg-3: rgba(255, 255, 255, 0);
}

html {
    font-family: "SN Pro", sans-serif;
    font-optical-sizing: auto;
}

html.dark {
    --bg: #020617;
    --bg-secondary: #020617;
    --bg-tertiary: #020617;
    
    --text: #ffffff;
    --text-secondary: #ffffff;

    --border: #1c1d27;

    --pagination: #ffffff;

    --shadow-1: rgba(255, 255, 255, 0.08); /* edge highlight */
    --shadow-2: rgba(0, 0, 0, 0.5);
    --shadow-3: rgba(0, 0, 0, 0.7);

    --header-bg-1: rgba(10, 10, 10, 0.85);
    --header-bg-2: rgba(10, 10, 10, 0.55);
    --header-bg-3: rgba(10, 10, 10, 0);
}

body {
    background: var(--bg);
    color: var(--text);
    margin: 15px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px;
}

p {
    margin: 0;
}

main {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 100px 0 50px;
}

/* header */

.header {
    position: fixed;
    z-index: 999;
    top: calc(env(safe-area-inset-top) + 20px);
    left: 50%;
    transform: translateX(-50%);
}

.header-blur {
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100px;
    background: linear-gradient(
    to bottom,
    var(--header-bg-1),
    var(--header-bg-2),
    var(--header-bg-3)
    );
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0,0,0,1) 0%,
    rgba(0,0,0,1) 65%,
    rgba(0,0,0,0.5) 85%,
    rgba(0,0,0,0) 100%
    );
    pointer-events: none;
    z-index: 998;
}

.navbar {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: fit-content;
    margin: auto;
    padding: 10px 15px;
    border-radius: 30px;
    background-color: var(--bg);
    box-shadow:
    0 0 0 1px var(--shadow-1),
    0 2px 4px var(--shadow-2),
    0 12px 24px var(--shadow-3);
    border: 1px solid rgba(255, 255, 255, .1);
}

.navbar svg {
    width: 20px;
    height: 20px;
}

#dark-mode-toggle .light {
    display: none;
}

#dark-mode-toggle.active .light {
    display: block;
}

#dark-mode-toggle.active .dark {
    display: none;
}

.navbar a, 
.navbar button,
.navbar [data-language] {
    display: flex;
    cursor: pointer;
    color: currentColor;
    text-decoration: none;
    outline: none;
    transition: transform 0.2s ease;
}

.navbar .current {
    text-decoration: underline;
    text-underline-offset: 2px;
    cursor: default;
    pointer-events: none;
}

.vertical-line {
    width: 1px;
    height: 30px;
    background: currentColor;
}

.dark-mode-toggle button {
    background: transparent;
    border: none;
    padding: 0;
}

@media screen and (min-width: 701px) {
    .navbar a:hover, 
    .navbar button:hover,
    .navbar [data-language]:hover {
        transform: scale(1.2);
    }
}

/* banner */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.banner-image img {
    width: 150px;
}

.banner-title {
    font-size: 50px;
    margin: 0;
}

.banner-subtitle {
    font-size: 20px;
}

.banner-image {
    display: flex;
    align-items: flex-start;
}

@media screen and (max-width: 700px) {
    .banner {
        gap: 10px;
        align-items: unset;
    }

    .banner-image img {
        width: 130px;
    }

    .banner-title {
        font-size: 35px;
        line-height: 35px;
        margin-bottom: 15px;
    }

    .banner-subtitle {
        font-size: 16px;
    }
}

/* experiences */

.experiences-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.experience {
    display: grid;
    grid-template-columns: auto 3fr;
    align-items: flex-start;
    gap: 20px;
}

.experience-image__container {
    display: flex;
    width: 46px;
}

.experience-image {
    width: 46px;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 50%;
}

.experience-date__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.experience-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experience-title h3 {
    font-size: 16px;
    margin: 0;
    font-weight: bold;
}

.experience-title a {
    color: currentColor;
    text-decoration: none;
    font-weight: bold;
}

.experience-subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experience-info {
    font-size: 14px;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: height 0.4s ease, opacity 0.2s ease;
}

.experience-info p {
    margin-top: 10px;
}

.read-more {
    font-size: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: fit-content;
}

.read-more svg {
    width: 18px;
    height: 18px;
    margin-top: 2px;
    transition: transform 0.4s ease;
}

@media screen and (min-width: 701px) {
    .experience-title a:hover {
        text-decoration: underline;
    }
}

@media screen and (max-width: 700px) {
    .experience > * {
        font-size: 13px;
    }

    .experience-info p {
        font-size: 12px;
    }

    .experience {
        gap: 13px;
    }

    .experience-title h3 {
        font-size: 15px;
    }
}

/* skills */

.skills-list {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.skill {
    background: var(--bg-secondary);
    color: var(--text-secondary);
    padding: 5px 10px;
    border-radius: 8px;
    border: 2px solid var(--border);
}

@media screen and (max-width: 700px) {

    .skill {
        font-size: 14px;
    }
}

/* projects */

.projects-subtitle {
    margin-bottom: 20px;
}

.projects-swiper.swiper {
    width: 100%;
    overflow: hidden;
}

.projects-swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--bg-tertiary);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

html.dark .projects-swiper .swiper-slide {
    border: 2px solid var(--border);
}

.projects-swiper .swiper-slide a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: currentColor;
    text-decoration: none;
}

.projects-slide__info {
    padding: 20px 13px;
    text-align: left;
}

.projects-slide__description {
    font-size: 14px;
}

.projects-slide__description--company {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 3px;
}

.projects-slide__title {
    margin-bottom: 5px;
}

.projects-slide__description--company img {
    width: 32px;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 50%;
}

.projects-slide__image img {
    width: 100%;
    display: block;
}

.swiper-pagination {
    position: relative !important;
    margin-top: 20px;
}

.swiper-pagination-bullet {
    background: var(--pagination) !important;
    border: 1px solid white !important;
}

@media screen and (min-width: 701px) {
    .projects-swiper .swiper-slide a:hover .projects-slide__title {
        text-decoration: underline;
    }

    .projects-swiper:before, .projects-swiper:after {
        content: "";
        position: absolute;
        top: 0;
        width: 120px;
        height: 100%;
        pointer-events: none;
        z-index: 10;
    }

    .projects-swiper::before {
    left: 0;
    background: linear-gradient(
        to right,
        var(--bg) 0%,
        rgba(255, 255, 255, 0) 40%
    );
    }

    .projects-swiper::after {
    right: 0;
    background: linear-gradient(
        to left,
        var(--bg) 0%,
        rgba(255, 255, 255, 0) 40%
    );
    }
}

@media screen and (max-width: 700px) {
    .projects-slide__description {
        font-size: 13px;
    }
}

/* contact */

.footer {
    background: var(--bg-secondary);
    color: var(--text-secondary);
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    border: 2px solid var(--border);
    border-radius: 20px;
    max-width: 800px;
    margin: 0 auto 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-description a {
    color: currentColor;
    text-underline-offset: 2px;
}

@media screen and (max-width: 700px) {
    .footer {
        padding: 25px;
        min-height: 230px;
    }
}